# Ignored Directories
.ipynb_checkpoints/
node_modules/

wip/

# Data

data/tmp

# Ignored File Types
.~lock.*#
*.xlsx
*.pkl
*.log
*.zip
*.tar.gz

# Ignored Python Files
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
.pytest_cache/
.coverage


# Ignored Configuration Files
.env
.vscode/
.markdownlint.yaml

# Ignored Miscellaneous Files
.DS_Store
Thumbs.db

# latex
*.aux
*.log
*.out
*.tex